$base_fonts = '../fonts'

@font-face {
    font-family: 'league';
    src: url($base_fonts + '/LeagueGothic-Regular.eot');
    src: url($base_fonts + '/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'),
         url($base_fonts + '/LeagueGothic-Regular.svg#league') format('svg'),
         url($base_fonts + '/LeagueGothic-Regular.ttf') format('truetype'),
         url($base_fonts + '/LeagueGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}