// ==========================================================================
// utils vars and functions
// ==========================================================================

$black = #000
$white = #fff
$aquamarine = #7DEDE2
$aquamarine-medium = #63C7A9
$keppel = #58B790
$eclipse = #363636
$dim-gray = #707070
$lavender = #F0F0F2
$shamrock = #2AC496


$base_img = '../img'
$base_fonts = '../fonts'

$sans = 'Open Sans'
$mserrat = 'Montserrat'

font_mixin(font, weight, size, color)
	font-family font
	font-weight weight
	font-size size
	color color

sprite_extras()
	display block
	overflow hidden
	text-indent -9999em
	background-repeat no-repeat

hide()
	visibility hidden
	opacity 0

show()
	visibility visible
	opacity 1
