html, body
	width 100%
	height 100%

body
	font-family Arial, Tahoma, sans-serif
	font-size 62.5%
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

::-moz-selection
	background #29120d
	color #fff
	text-shadow none

::selection
	background #29120d
	color #fff
	text-shadow none

a:link
	-webkit-tap-highlight-color #29120d

textarea, input, select
	outline none

textarea
	resize none
	overflow auto

main
	max-width 2000px
	margin 0 auto
	overflow hidden
	position relative
	hyphens auto