
/* === BANNER DESTAQUE === */
.container-banner-destaque
	background-image url($base_img + '/banner-destaque-cenario.png')

	.box
		background url($base_img + '/banner-destaque-pattern.png') center repeat
		height 100%
		padding 12px 30px

		h3
			font_mixin($sans, 700, 1.5em, $white)
			text-transform uppercase
			margin-bottom 22px

		figure
			img
				width 100%

			.penagem-01,
			.penagem-02,
			.penagem-03,
			.penagem-04
				sprite_extras()
				transition .5s ease-out

			.penagem-01
				sprite($penagem_01)
				top 412px
				left -20px

			.penagem-02
				sprite($penagem_02)
				top 385px
				right -112px

			.penagem-03
				sprite($penagem_03)
				top 218px
				right -60px

			.penagem-04
				sprite($penagem_04)
				top 290px
				left -80px

			&:hover
				.penagem-01
					top 420px
					left -30px

				.penagem-02
					top 395px
					right -118px

				.penagem-03
					top 250px
					right -80px

				.penagem-04
					top 310px
					left -90px

		p
			font_mixin($sans, 300, 2em, $white)
			@extend .center
			margin-top 28px

		.mouse
			width 28px
			height 65px
			left 50%
			bottom -35px
			margin-left -14px
			text-align center

			span
				width 28px
				height 48px
				background-color $white
				border-radius 124px
				display block

				i
					width 2px
					height 6px
					background-color $black
					display block
					left 50%
					margin-left -1px
					top 8px

			& > i
				font-size 1.8em
				color $white




/* === CARROSSEL PERSONAS === */
.container-carrossel-personas
	background-color $eclipse
	padding 110px 0 200px 0



/* === FORMULARIO === */
.container-form-contato
	background linear-gradient(143deg, $aquamarine 0%, $keppel 100%)

	&:after,
	&:before
		width 100%
		height 30px
		background-color $eclipse
		position absolute
		content ""

	&:before
		top 0

	&:after
		bottom 0

	.aux
		background-color $white
		width 56%
		box-shadow 0px 0px 6px $black
		border-radius 4px

		header
			text-align center
			padding-top 80px
			padding-bottom 40px

			h2
				font_mixin($mserrat, 700, 3.5em, $aquamarine-medium)
				text-transform uppercase

		& > p
			font_mixin($sans, 300, 2em, $eclipse)
			text-align left
			@extend .center
			width 68%

		form
			width 48%
			margin-top 50px
			margin-bottom 155px

			input
				width 48%

			input[type=text]
				float left

			input[type=email]
				float right