
/* === CARROSSEL PERSONAS === */
.container-carrossel-personas
	background-color $eclipse



/* === FORMULARIO === */
.container-form-contato
	background linear-gradient(143deg, $aquamarine 0%, $keppel 100%)

	&:after,
	&:before
		width 100%
		height 30px
		background-color $eclipse
		position absolute
		content ""

	&:before
		top 0

	&:after
		bottom 0

	.aux
		background-color $white
		width 56%
		box-shadow 0px 0px 6px $black
		border-radius 4px

		header
			text-align center
			padding-top 80px
			padding-bottom 40px

			h2
				font_mixin($mserrat, 700, 3.5em, $aquamarine-medium)
				text-transform uppercase

		p
			font_mixin($sans, 300, 2em, $eclipse)
			text-align left
			@extend .center
			width 68%

		form
			width 48%
			margin-top 50px
			margin-bottom 155px

			input
				width 48%

			input[type=text]
				float left

			input[type=email]
				float right