/* === BOTOES === */
.btn
	display inline-block
	text-transform uppercase
	cursor pointer
	background transparent
	border 1px solid transparent
	transition .5s ease-out
	outline none
	font_mixin($sans, 300, 1.8em, $white)
	letter-spacing 1.8px
	padding 12px 35px

.btn-full-green
	border-color transparent
	background-color $aquamarine-medium
	width 48%
	&:hover
		background-color $keppel
		border-color transparent
