.footer-primary
	width 100%
	background-color $eclipse
	height 410px

	.scroll-to-top
		width 107px
		height 107px
		border-radius 100px
		background-color $white
		top 98px
		right 143px
		cursor pointer

		i
			font-size 6em

		&:hover
			i
				color $lavender