input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=number],
input[type=file],
input[type=tel],
select, textarea
	height 48px
	line-height 16px
	padding 13px 14px
	border 0
	background-color $white
	margin-bottom 40px
	&:focus
		outline none

textarea
	resize none
	overflow auto
	height 200px


/* ======== FALE CONOSCO ======== */
.form-contato
	input[type=text],
	input[type=email],
	textarea
		border 1px solid $eclipse
		+placeholder()
			font_mixin($sans, 300, 1.4em, $black)
		&:focus
			outline none

	textarea
		width 100%


/* ======== ALERTAS ======== */
.alert
	padding 14px
	font-size 1.2em
	margin-top 12px
	text-align center

.alert-danger
	@extend .alert
	background #ffeded
	color #c53b3b

.message-fail
	@extend .alert
	background #ce6565

.message-success
	@extend .alert
	background #41b88f

.error
	border 1px solid red !important