.header-primary
	background-color $eclipse

	h1
		font_mixin($mserrat, 700, 2.2em, $white)
		text-align center
		text-transform uppercase
		letter-spacing 0.68px
		display flex
		align-items center
		justify-content center