/* REDES SOCIAIS */
.social-list
	margin 43px 50px 0 0
	li
		display inline-block
		margin 0 25px 0 0
		&:last-child
			margin-right 0
		a
			sprite_extras()
			&.icon-face
				sprite($icon_fb)
			&.icon-twitter
				sprite($icon_twt)
			&.icon-insta
				sprite($icon_insta)
			&.icon-flickr
				sprite($icon_fkr)
			&.icon-lkdin
				sprite($icon_lkin)
			&:hover
				opacity(0.4)


/* COMPARTILHAMENTO */
.social-share
	li
		display inline-block
		margin 0 25px 0 0
		&:last-child
			margin-right 0
		a
			sprite_extras()
			&.icon-face
				sprite($icon_fb_2x)
			&.icon-twitter
				sprite($icon_twt_2x)
			&.icon-plus
				sprite($icon_ggle_2x)
			&.icon-mail
				sprite($icon_mail_2x)
			&:hover
				opacity(0.4)