
/* Same devices ----------- */
@media only screen and (min-width: 1025px) and (max-width: 1280px)
	// ======= BANNER DESTAQUE ===
	.container-banner-destaque .box p
		width 65% !important

	.container-banner-destaque .box .mouse
		bottom -50px !important

	.container-banner-destaque .box figure .penagem-01
		top 248px !important
		left -50px !important

	.container-banner-destaque .box figure .penagem-02
		top 215px !important
		right -134px !important

	.container-banner-destaque .box figure .penagem-03
		top 90px !important
		right -105px !important

	.container-banner-destaque .box figure .penagem-04
		top 144px !important
		left -88px !important

	.container-banner-destaque .box figure:hover
		.penagem-01
			top 280px !important
			left -70px !important

		.penagem-02
			top 230px !important
			right -150px !important

		.penagem-03
			top 110px !important
			right -115px !important

		.penagem-04
			top 160px !important
			left -110px !important


	// ======= CARROSSEL PERSONAS ===
	.container-carrossel-personas .list-personas li
		margin 0 25px !important
		height 635px !important

	.container-carrossel-personas .list-personas li p
		font-size 1.8em !important

	.container-carrossel-personas .list-personas li .bg-figure
		top 65px !important
		height 52% !important




/* Large screens ----------- */
@media only screen  and (min-width : 1824px)
	// ======= GERAIS ===




/* iPad 1 and 2 ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1)
	// ======= BANNER DESTAQUE ===
	.container-banner-destaque .box
		width 80% !important


	// ======= CARROSSEL PERSONAS ===
	.container-carrossel-personas
		padding 80px 0 100px 0 !important

	.container-carrossel-personas .aux
		width 90% !important

	.container-carrossel-personas .list-personas li
		margin 0 12px !important
		height 535px !important

	.container-carrossel-personas .list-personas li p
		font-size 1.4em !important

	.container-carrossel-personas .list-personas li .bg-figure
		top 50px !important
		width 95% !important
		height 49% !important
		margin-left -47% !important


	// ======= FORMULARIO ===
	.container-form-contato .aux
		width 80% !important

	.container-form-contato .aux > p
		width 80% !important

	.container-form-contato .aux form
		width 75% !important
		margin-bottom 100px !important


	// ======= FOOTER ===
	.footer-primary .scroll-to-top
		width 65px
		height 65px

		i
			font-size 3em




/* iPad 1 and 2 Portrait ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)
	// ======= GERAIS ===




/* iPad 1 and 2 Landscape ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1)
	// ======= GERAIS ===



/* Smartphones ----------- */
@media only screen and (min-width : 320px) and (max-width : 767px)
	// ======= HEADER ===
	.header-primary h1
		font-size 1.8em


	// ======= BANNER DESTAQUE ===
	.container-banner-destaque .box
		width 80% !important

	.container-banner-destaque .box figure div
		display none !important

	.container-banner-destaque .box p
		width 90% !important


	// ======= CARROSSEL PERSONAS ===
	.container-carrossel-personas
		padding 85px 0 100px 0 !important

	.container-carrossel-personas .aux
		width 85% !important

	.container-carrossel-personas .list-personas li
		margin 0 15px !important
		height 535px !important

	.container-carrossel-personas .list-personas li figure img
		width 80% !important
		@extend .center

	.container-carrossel-personas .list-personas li p
		font-size 1.6em !important

	.container-carrossel-personas .list-personas li .bg-figure
		width 82% !important
		height 51% !important
		top 55px !important
		margin-left -41% !important


	// ======= FORMULARIO ===
	.container-form-contato .aux
		width 90% !important

	.container-form-contato .aux header
		padding-top 60px !important
		padding-bottom 30px !important

	.container-form-contato .aux > p
		width 80% !important
		font-size 1.6em !important

	.container-form-contato .aux form
		width 80% !important
		margin-bottom 80px !important

	.container-form-contato .aux form input
		width 100% !important
		margin-bottom 15px !important

	.container-form-contato .aux form textarea
		margin-bottom 15px !important

	.container-form-contato .aux form .btn
		width 100% !important


	// ======= FOOTER ===
	.footer-primary
		height 300px !important

	.footer-primary .scroll-to-top
		width 48px
		height 48px
		right 50%
		margin-right -24px

		i
			font-size 3em
